[submodule "ConvolutionalNeuralNetworks/VolcNet"]
	path = ConvolutionalNeuralNetworks/VolcNet
	url = https://github.com/matthew-gaddes/VolcNet
[submodule "Physics_Informed_Neural_Networks/PINNs"]
	path = Physics_Informed_Neural_Networks/PINNs
	url = git@github.com:maziarraissi/PINNs.git
