ConvolutionalNeuralNetworks/**/*.npz
**/.ipynb_checkpoints/
**/__pycache__
ConvolutionalNeuralNetworks/data/real/
ConvolutionalNeuralNetworks/data/train_full_model/
ConvolutionalNeuralNetworks/data/train_fully_connected_model/
ConvolutionalNeuralNetworks/vgg16_2head.png